<mat-card>

    <mat-card-title class="card-update">
        Alterar Produto
    </mat-card-title>

    <form>
        <mat-form-field>
            <input matInput 
                [(ngModel)]="product.name" name="name">                
        </mat-form-field>
        <mat-form-field>
            <input matInput
                [(ngModel)]="product.price" name="price">            
        </mat-form-field>
        <mat-form-field>
            <input matInput
                [(ngModel)]="product.description" name="description">
        </mat-form-field>        
        <mat-form-field>
            <input matInput
                [(ngModel)]="product.quantity_in_stock" number="quantity_in_stock">
        </mat-form-field>        
    </form>          
    <form class="update-action">
        <button mat-raised-button (click)="updateProduct()" color="primary">
            Atualizar
        </button>
        <button mat-raised-button (click)="cancel()">
            Cancelar
        </button>
    </form>
      
</mat-card>