.sidenav{
    background-color: #3c4ba3;
    width: 180px;
}
.sidenav a{
    display: inline-block;
    color: #FFF;    
    padding-left: 10px;
    width: 190px;
    text-align: justify;
    cursor: pointer;
    height: auto;
    line-height: 1.4em;       
}
.sidenav a:hover{
    opacity: 0.6;
    transform: scale(1.1);
}
.sidenav i{
    display: inline-block;
    padding-right: 2px;
    color: #FFF;
    border: 2px solid #FFF; 
    margin: auto;
    height: auto;
    line-height: 1.2em; 
    vertical-align: sub;  
    height: auto; 
}
.mat-nav-list a{
    color: #FFF;
}
.content {
    padding: 18px;
    background-color: #FFF;  
}
