.header{
    display: flex;
    align-items: center;
    height: 110px;
}

.header a{
    display: flex;
    align-items: center;
    text-decoration: none;
}
.header .logo{
    text-align: justify;
    align-items: center;    
    width: 150px;
    max-width: 2000px;
    max-height: 100px;
    padding-top: 5px;
}
.header .logo:hover{
    opacity: 0.6;
}
.header .title-group{
    padding-left: 30px;
}
.header .title-group{
    padding-right: 5px;
}
